#vb {
  -fx-background-color: #FFF8DC;
}
#hb {
  -fx-background-color: linear-gradient(#e6e6e6, #d9d9d9,#bfbfbf, #808080);
  -fx-border-bottom-radius: 3;
  -fx-border-bottom-color: #666666;
  -fx-background-radius: 3;
  -fx-effect: dropshadow(three-pass-box, #777777, 20, 0, 0, 0);
}

#label_1, #label_2, #label_timer, #label_player {
  -fx-padding: 2 10 0 10;
  -fx-text-fill: #ffcccc;
  -fx-font-family: "Helvetica";
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(one-pass-box, #404040, 10, 0, 2, 2);
}

#button {
  -fx-text-fill: white;
  -fx-font-family: "Helvetica";
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-background-color:
    linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
  -fx-background-radius: 9;
}

#c {
  -fx-padding: 10;;
  -fx-effect: dropshadow(one-pass-box, #404040, 10, 0, 2, 2);
}

#button:hover {
  -fx-text-fill: white;
  -fx-font-family: "Helvetica";
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-background-color:
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%);
  -fx-background-radius: 9;
}
